<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css"> 
    <link rel="stylesheet" href="css/master.css">
    <title>JauneCongo</title>
</head>
<body>
    <div id="parti_fixe">
      <header>
          <ul>
              <li class="font first"><a href="">Cultivons un autre monde!</a></li>
              <li class="font flex_end"><a href="sass.html">Infos qualité</a></li>
              <li class="font flex_end"><a href="badges.html">Infos livraisons</a></li>
              <li class="font flex_end"><a href="sass.html"> Infos paiements</a></li>
              <li class="flex_end"><a href="facebook.html" class="space"><i class="fab fa-facebook-f icc"></i></a></li>
              <li class="flex_end"><a href="instagram.html" class="space"><i class="fab fa-instagram icc"></i></a></li>
              <li class="flex_end"><a href="fenvelope.html" class="space"><i class="far fa-envelope icc"></i></a></li>
              <li class="flex_end"><a href="phone.html" class="space"><i class="fas fa-phone-alt icc"></i></a></li>
          </ul>
      </header>
      <nav>
            <ul>
              <li><img src="image/Logo_Jaune_Congo_GilroyFont-01-transparent.jpg" alt="" id="image"></li>
              <li><a href="#">Legumes</a></li>
              <li><a href="#">Fruits</a></li>
              <li><a href="#">Herbes aromatiques</a></li>
              <li><a href="#">Paniers hebdomadaires</a></li>
              <li><a href="#">Plus ˅</a></li>
              <li><a href="#"  class="connexion">Connexion</a></li>
              <li><a href="#">Panier/$0.00<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
      </nav>
    </div>
    <div id="div_cache">
        
    </div>
    <main>
        <section id="first_section">
            <img src="image/Logo_Jaune_Congo.jpg" alt="" id="deuxieme_img">
            <p class="legende">
                <strong>Chez nous, vous êtes « satisfait ou remboursé »!</strong>
            </p>
            <div class="image_haut">
                <figure class="">
                    <h2>Sain</h2>
                    <img src="image/download.jpeg" alt="Legume" class="legume">
                    <figcaption>
                      <div class="content">
                        <p>Des graines saines dans un sol sain. Chez JauneCongo, pas d’OGM ni de pesticides interdits en Europe. Vous êtes assurés de manger des légumes sans résidus de produits chimiques, issus d’une agriculture respectueuse de l’environnement!<br> </p>
                      </div>
                    </figcaption>
                    <a href="http://www.imagehover.io"></a>
                </figure>
                <figure class="figure">
                    <h3 class="h2"><span class="span">Produit de la semaine</span><br> Pour plus de 15$ de commande
                        nous vous offrons un demi-kilo de patate <br> douce!</h3>
                    <img src="image/download-milieu.jpeg" alt="patate" class="patate">
                    <a href="http://www.imagehover.io"></a>
                </figure>
                <figure class="imghvr-reveal-up">
                   <h2>Frais</h2>
                   <img src="image/download-tomate.jpeg" alt="tomate" class="tomate">
                   <figcaption>
                     <div class="content">
                       <p>La fraicheur a un goût ! Nous récoltons la veille de la livraison, il y a donc moins de 24h entre la cueillette et le dépôt du panier chez nos clients ! Goûtez la fraîcheur, vous ne pourrez plus vous en passer.<br> </p>
                     </div>
                   </figcaption>
                   <a href="http://www.imagehover.io"></a>
               </figure>
            </div>
            <div id="image_bas">
                <figure class="imghvr-reveal-up">
                    <h2 class="qualite">Qualité garantie</h2>
                    <img src="image/celeri.jpeg" alt="celeri" class="celeri">
                    <figcaption>
                      <div class="content">
                        <p>Satisfait ou remboursé !
                            Un problème avec nos légumes ? Vous pouvez nous le signaler jusqu’au 12h le samedi suivant votre livraison. Nous viendrons récupérer les légumes et nous vous les rembourserons.<br> </p>
                      </div>
                    </figcaption>
                    <a href="http://www.imagehover.io"></a>
                </figure>
                <div class="timer">
                    <p class="attention"><strong>Attention! Plus que</strong></p> <br>
                    <div class="temps">
                        <span id="jour"></span> 
                        <span id="heure"></span>
                        <span id="minute"></span>
                        <span id="seconde"></span>
                    </div>
                    <p class="attention_bas"><strong>pour commander votre dose <br> hebdomadaire de vitamines!</strong></p>
                </div>
                <figure class="imghvr-reveal-up">
                    <h2>Local</h2>
                    <img src="image/localrdc.jpeg" alt="localrdc" class="localrdc">
                    <figcaption>
                      <div class="content">
                        <p>La fraicheur a un goût ! Nous récoltons la veille de la livraison, il y a donc moins de 24h entre la cueillette et le dépôt du panier chez nos clients ! Goûtez la fraîcheur, vous ne pourrez plus vous en passer.<br> </p>
                      </div>
                    </figcaption>
                    <a href="http://www.imagehover.io"></a>
                </figure>
            </div>     
        </section>
        <section id="second_section">
            <h1><span>Nos produits cette semaine</span></h1>
            <div class="container">
                <div class="items">
                    <% for (pro of produits) { %>
                        <div class="carte">
                            <a href="/produits/<%= pro.id %>">  <img src="<%= pro.image %>" alt=""></a>
                            <p>
                            <span><b><%= pro.name %></b></span><br>
                            <span> $<%= pro.prixKilo %><%= pro.prixBouquet %><%= pro.prixBotte %>/ pièce</span><br>
                            <span>Quantité encore disponible: <br> <%= pro.qteDispo %></span>
                            </p>
                            <button class="controls moins" >-</button>
                            <input class="qt aa" value="1">
                            <button class="controls plus plusplus">+</button>
                            <button type="button" name="button" class="btn_ajouter">AJOUTER AU PANIER</button>
                        </div>
                    <% } %>
                    </div>
            </div>
        </section>
        <section>
            <h1><span>Promotions permanentes</span> </h1>
        </section>
        <section id="third_section">
            <div id="one">
                <img src="image/parrainage.jpg" alt=""  width="287.66" height="215.73" class="image_promotion">
                <h3>Parrainage – gagnez 5$!</h3>
                <p class="para1">
                    Parrainez vos amis et gagnez 5$! Remplissez ce
                </p>
                <button>FORMULAIRE DE PARRAINAGE</button>
                <p class="para1">
                    et votre ami recevra un courriel contenant un coupon de 20% pour sa première commande. Une fois        celle-ci effectuée vous recevrez à votre tour un courriel contenant un coupon de 5$ pour votre prochaine commande de vitamines!
                </p>
            </div>
            <div id="two">
                <img src="image/2018-11-05-17.21.10-1906016299973548239_8353531224.jpg" alt=""  width="287.66" height="215.73" class="image_promotion">
                <h3>Rabais fidélités – jusqu’à 10% sur toutes vos commandes!</h3>
                <p class="rabais"><strong> Rabais fidélité 1 mois</strong> <br></p>
                <p class="para1">
                    Si vous avez dépensé plus de 80$ sur notre site lors des 30 derniers jours, un rabais de 5% sera automatiquement appliqué à votre commande!
                </p>
                <p class="rabais">
                   <strong> Rabais fidélité 3 mois</strong>
                </p>
                <p class="para1">
                    Si vous avez commandé plus de 9 fois sur notre site lors des 3 deniers mois un rabais de 5% sera automatiquement appliqué à votre commande!
                </p>
                <p class="para1">
                    Ces rabais sont cumulables, mais ils ne peuvent être appliqués qu’aux clients inscrits sur le site
                </p>
            </div>
            <div class="three">
                <img src="image/Panier_500x500.jpg" alt="" width="287.66" height="215.73" class="image_promotion">
                <h3>Paniers hebdomadaires – 10% de vitamines en plus!</h3>
                <p class="para1">
                    Profitez de 10% minimum de réduction sur vos légumes et fruits en vous abonnant à nos paniers hebdomadaires: vous nous indiquer vos préférences et nous vous livrons chaque semaine des paniers composés par nos soins.
                </p>
                <p class="para1">
                    Ce rabais n’est pas cumulable avec les rabais fidélités et paiement par acompte
                </p>
                <button>ABONNEZ-VOUS MAINTENANT!</button>
            </div>
        </section>
        <section id="forth_section">
            <h1><span>Les nouvelles de la ferme</span> </h1>

                <div class="carousel" data-flickity='{ "groupCells": true }'>
                    <div class="carousel-cell">
                        <figure class="figure">
                            <img src="image/95563745_133177261660179_1426506245350979654_n.jpg" alt="patate" class="img_scroll">
                            <figcaption>
                              <div class="content">
                                <p>La fraicheur a un goût ! Nous récoltons la veille de la livraison, il y a donc moins de 24h entre la cueillette et le dépôt du panier chez nos clients ! Goûtez la fraîcheur, vous ne pourrez plus vous en passer.<br> </p>
                              </div>
                            </figcaption>
                            <a href="http://www.imagehover.io"></a>
                        </figure>
                    </div>
                    <div class="carousel-cell">
                        <figure class="figure">
                            <img src="image/95656633_1059241304475513_7010497544825926067_n.jpg" alt="patate" class="img_scroll">
                            <figcaption>
                              <div class="content">
                                <p>La fraicheur a un goût ! Nous récoltons la veille de la livraison, il y a donc moins de 24h entre la cueillette et le dépôt du panier chez nos clients ! Goûtez la fraîcheur, vous ne pourrez plus vous en passer.<br> </p>
                              </div>
                            </figcaption>
                            <a href="http://www.imagehover.io"></a>
                        </figure>
                    </div>
                    <div class="carousel-cell">
                        <figure class="figure">
                            <img src="image/95479095_693854538056290_4425386190868276893_n.jpg" alt="patate" class="img_scroll">
                            <figcaption>
                              <div class="content">
                                <p>La fraicheur a un goût ! Nous récoltons la veille de la livraison, il y a donc moins de 24h entre la cueillette et le dépôt du panier chez nos clients ! Goûtez la fraîcheur, vous ne pourrez plus vous en passer.<br> </p>
                              </div>
                            </figcaption>
                            <a href="http://www.imagehover.io"></a>
                        </figure>
                    </div>
                    <div class="carousel-cell">
                        <figure class="figure">
                            <img src="image/95017844_108360564051643_4017307797664882534_n.jpg" alt="makemba" class="img_scroll">
                            <figcaption>
                            <div class="content">
                                <p>La fraicheur a un goût ! Nous récoltons la veille de la livraison, il y a donc moins de 24h entre la cueillette et le dépôt du panier chez nos clients ! Goûtez la fraîcheur, vous ne pourrez plus vous en passer.<br> </p>
                            </div>
                            </figcaption>
                            <a href="http://www.imagehover.io"></a>
                        </figure>
                    </div>
                    <div class="carousel-cell">
                        <figure class="figure">
                            <img src="image/94103954_164250424897381_3547729589698679720_n.jpg" alt="avocat" class="img_scroll">
                            <figcaption>
                              <div class="content">
                                <p>La fraicheur a un goût ! Nous récoltons la veille de la livraison, il y a donc moins de 24h entre la cueillette et le dépôt du panier chez nos clients ! Goûtez la fraîcheur, vous ne pourrez plus vous en passer.<br> </p>
                              </div>
                            </figcaption>
                            <a href="http://www.imagehover.io"></a>
                        </figure>
                    </div>
                    <div class="carousel-cell">
                            <figure class="figure">
                                <img src="image/94108782_262703324899128_2608361903622447981_n.jpg" alt="salade" class="img_scroll">
                                <figcaption>
                                  <div class="content">
                                    <p>La fraicheur a un goût ! Nous récoltons la veille de la livraison, il y a donc moins de 24h entre la cueillette et le dépôt du panier chez nos clients ! Goûtez la fraîcheur, vous ne pourrez plus vous en passer.<br> </p>
                                  </div>
                                </figcaption>
                                <a href="http://www.imagehover.io"></a>
                            </figure>
                    </div>
                    <div class="carousel-cell">
                        <figure class="figure">
                            <img src="image/92749724_219927332621742_8827041522355521963_n.jpg" alt="" class="img_scroll">
                            <figcaption>
                              <div class="content">
                                <p>La fraicheur a un goût ! Nous récoltons la veille de la livraison, il y a donc moins de 24h entre la cueillette et le dépôt du panier chez nos clients ! Goûtez la fraîcheur, vous ne pourrez plus vous en passer.<br> </p>
                              </div>
                            </figcaption>
                            <a href="http://www.imagehover.io"></a>
                        </figure>
                    </div>
                    <div class="carousel-cell">
                        <figure class="figure">
                            <img src="image/91791471_540436636610981_3097627418078084134_n.jpg" alt="" class="img_scroll">
                            <figcaption>
                              <div class="content">
                                <p>La fraicheur a un goût ! Nous récoltons la veille de la livraison, il y a donc moins de 24h entre la cueillette et le dépôt du panier chez nos clients ! Goûtez la fraîcheur, vous ne pourrez plus vous en passer.<br> </p>
                              </div>
                            </figcaption>
                            <a href="http://www.imagehover.io"></a>
                        </figure>
                    </div>
                    <div class="carousel-cell"></div>
                    <div class="carousel-cell"></div>
                    <div class="carousel-cell"></div>
                  </div>

            </div>
            <div class="image_scroll">

            </div>
          <div class="for">
            <div class="newletter">
                <p class="label_inscription">
                   <strong>Inscrivez-vous ci-dessous pour être au courant de toutes nos activités.</strong>
                </p>
                <form>
                    <div class="zone_form">
                        <label>Adresse électronique:</label> <br>
                        <input type="text" placeholder="votre adresse de courriel" class="input">
                    </div>
                    <input type="checkbox" name="" id="" class="checkbox"><strong>Abonnez-vous à notre lettre d'information semestrielle</strong>
                    <p class="textcheck">
                        Tous les 6 mois, nous vous envoyons des informations sur JauneCongo, notre équipe et nos méthodes de travail
                    </p>
                    <div class="zone_form">
                        <input type="checkbox" name="" id="" class="checkbox"><strong>Abonnez-vous à notre courriel d'information hebdomadaire</strong>
                        <p class="textcheck">
                            Toutes les semaines, recevez un courriel vous présentant les nouveautés et promotions de la semaine
                        </p>
                        <input type="submit" value="S'INSCRIRE" id="btn_submit">
                    </div>
                </form>    
            </div>
            <div class="icone">
                <i class="fab fa-whatsapp class"></i>
            </div>
            <div class="zone_whatsapp">
                <p class="inscription">
                   <strong> Inscrivez-vous à notre groupe Whatsapp</strong>
                </p>
                <p class="article">
                    Envoyez-nous un message Whatsapp au +243 81 23 25 230 et nous vous enverrons une invitation à notre groupe Whatsapp.
                </p>
            </div>
          </div>
        </section>
        <section>
            <p id="title"><strong>Et lisez ou relisez nos lettres d'informations!</strong></p>
            <div id="section5">
                <div>
                    <a href="https://jaunecongo.com/wp-content/uploads/2020/02/Lettre-d%E2%80%99information-d%C3%A9cembre-2018.pdf"><img src="image/Diapositive1-1.png" alt="" class="image_bas"></a>
                </div>
                <div>
                    <a href="https://jaunecongo.com/wp-content/uploads/2020/02/Lettre-dinformation-juillet-2019.pdf"><img src="image/Lettre-d’information-06.19.png" alt="" class="image_bas"></a>
                </div>
                <div>
                    <a href="https://jaunecongo.com/wp-content/uploads/2020/02/Lettre-d%E2%80%99information-D%C3%A9cembre-2019.pdf"><img src="image/Diapositive1.png" alt="" class="image_bas"></a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="div_one">
            <p class="title1"><strong>A notre propos</strong></p>
            <p class="borber_bo"></p>
            <ul>
                <li class="border_bt"><a href="">Notre vision</a></li>
                <li class="border_bt"><a href="">L’entreprise</a></li>
                <li class="border_bt"><a href="">Le contexte</a></li>
                <li><a href="">Participer au développement de JauneCongo</a></li>
            </ul>
        </div>
        <div class="div_two">
            <p class="title1"><strong>Service Client</strong></p>
            <p class="borber_b"></p>
            <ul>
                <li class="border_bt"><a href="">Infos qualité</a></li>
                <li class="border_bt"><a href="">Infos livraisons</a></li>
                <li><a href="">Infos paiements</a></li>
            </ul>
        </div>
        <div class="div_three"> 
            <p class="title1"><strong> Partageons nos recettes !</strong</p>
            <p class="borber_bo"></p>  
            <ul>
                <li><a href="">Recettes et astuces fraicheurs</a></li>
            </ul>
        </div>
    </footer>
    <div id="copyring">
        <div>
            <p class="cop">Copyright 2019 © <strong>JauneCongo</strong></p>
            <p>Site créé par Kinshasa Digital et JauneCongo</p>   
        </div>
        <div>
            <img src="image/mastercard.png" alt="" height="32" width="50">
        </div>
    </div>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="https://kit.fontawesome.com/957ae1f962.js" crossorigin="anonymous"></script>
    <script src="javascript/timer.js"></script>
    <script src="javascript/script.js"></script>
    <script src="javascript/slider.js"></script>
    <script src="javascript/jquery-3.4.1.min.js"></script>
    <script src="app.js"></script>
</body>
</html>